body {
  background-color: black;
  color: white;
}

* {
  text-decoration: none;
  color: white;
  font-family: "IBM Plex Sans", sans-serif;
}

h1,h2,h3 {
  font-family: "PT Serif", serif;
  i {
    font-family: "PT Serif", serif;
  }
}